WebRoot/WEB-INF/wsdl/TestServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://fancye.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TestServiceService" targetNamespace="http://fancye.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://fancye.com/" schemaLocation="TestServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getList">
    <part element="tns:getList" name="parameters"/>
  </message>
  <message name="getListResponse">
    <part element="tns:getListResponse" name="parameters"/>
  </message>
  <message name="sayHello">
    <part element="tns:sayHello" name="parameters"/>
  </message>
  <message name="sayHelloResponse">
    <part element="tns:sayHelloResponse" name="parameters"/>
  </message>
  <message name="sayHelloToPersion">
    <part element="tns:sayHelloToPersion" name="parameters"/>
  </message>
  <message name="sayHelloToPersionResponse">
    <part element="tns:sayHelloToPersionResponse" name="parameters"/>
  </message>
  <portType name="TestServiceDelegate">
    <operation name="getList">
      <input message="tns:getList"/>
      <output message="tns:getListResponse"/>
    </operation>
    <operation name="sayHello">
      <input message="tns:sayHello"/>
      <output message="tns:sayHelloResponse"/>
    </operation>
    <operation name="sayHelloToPersion">
      <input message="tns:sayHelloToPersion"/>
      <output message="tns:sayHelloToPersionResponse"/>
    </operation>
  </portType>
  <binding name="wsBinding" type="tns:TestServiceDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="sayHello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="sayHelloToPersion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="TestServiceService">
    <port binding="tns:wsBinding" name="ws">
      <soap:address location="http://localhost:8080/JAXWebService/ws"/>
    </port>
  </service>
</definitions>
